.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  color: blueviolet;
}

.filterClass {
  color: white;
  background-color: darkgreen;
}

.isDoneStatus {
  opacity: 0.5;
}