.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.errorClass{
  color: blueviolet;
}

.actitveClass{
  color: whitesmoke;
  background-color: blue;
}

.isDoneClass {
  opacity: 0.5;
}