.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.active {
  background-color: cornflowerblue;
}

.button {
  background-color: rgb(192, 209, 240);
  border-radius: 5px;
}

.error {
  color: RED
}

.isDone {
opacity: 0.5;
}

.input {
  border-radius: 5px;
  background-color: powderblue;
}